<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inspire.com.railtale">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".trains_at_a_glance"
            android:label="@string/title_activity_trains_at_a_glance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".spot_your_train"
            android:label="@string/title_activity_spot_your_train"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".seat_availability"
            android:label="@string/title_activity_seat_availability"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>